body {
color: #434455;
background-color: #FFFFFF;
font-family: 'Roboto' , sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
}



/* header */








.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span {
    color: #2e2f42;
}




.page-nav {
    
color: #434455;
font-family: 'Roboto' , sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.04em;
text-decoration: underline;
}


.link {
color: #2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
}


.link:hover {
color: #404BBF;
}
    

.link:focus { 
color: #404BBF;
}
 

.link-address { 
color: #434455 ;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em; 
}

.link-address:hover {
color: #404bbf;
}

.link-address:focus {
color: #404bbf;
}

.link-gmail-number {
color: #434455;
font-family: 'Roboto';
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
}

.link-gmail-number:hover {
    color: #404bbf;
}

.link-gmail-number:focus {
    color: #404bbf;
}


/* header */





/* section 1 */


.head{
background-color: #2e2f42;
}


.main-title {
color: #ffffff;
background-color: #2e2f42;
font-family: 'Roboto' , sans-serif;
font-weight: Bold;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;

}
    

.button { 
color: #ffffff;
background-color: #4D5AE5;
font-family: 'Roboto' , sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}


button:hover{
background-color: #404BBF;
cursor: pointer;
}

.button:focus{
background-color: #404BBF;
}

/* section 1 */


/* section 2 */

.headertwo {
color: #2E2F42;
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1,11;
letter-spacing: 0.02em;
text-align: center;
}


.title { 
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}


.text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* section 2 */





/* section 3 */
.section {
background-color: #F4F4FD;
} 

.title-team {
color: #2e2f42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}


.ourteam {
background-color: #FFFFFF;  
}



.title-mini {
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}




.text-about {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}



/* section 3 */


/* section 4 */
.headertwo {
color: #2E2F42;
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}

.title-portfolio {
color: #2e2f42;
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.text-portfolio{
color: #434455;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* section 4 */


/* footer */
.footer {
background-color: #2e2f42;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span {
    color: #f4f4fd;
}

.text-footer {
color: #F4F4FD;
background: #2E2F42;
font-family: 'Roboto' , sans-serif;
font-weight: Bold;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* footer */
