body {
color: #434455;
background-color: #FFFFFF;
font-family: 'Roboto' , sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
}



/* header */

.mainheader {
border-bottom: 1px solid #e7e9fc; 
}

.container{
display: flex;
margin: 0 auto;
width: 1158px;
padding: 0 15px 0 15px;
}

.head-title {
    display: flex;
    align-items: center;
}



.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio-color {
color: #2e2f42;
}




.page-nav {
    
color: #434455;
font-family: 'Roboto' , sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.04em;
text-decoration: underline;
gap: 40px;
}



.link-studio{
color: #2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
padding-top: 24px;
padding-bottom: 24px;
}
    
    
.link-studio:hover {
color: #404BBF;
}
        
    
.link-studio:focus { 
 color: #404BBF;
}



.link-portfolio{
color: #2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
padding-top: 24px;
padding-bottom: 24px;
}


.link-portfolio:hover {
color: #404BBF;
}
    

.link-portfolio:focus { 
color: #404BBF;
}
 

.link-contacts {
color: #2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
padding-top: 24px;
padding-bottom: 24px;
margin-right: 0;
}

.link-contacts:hover {
color: #404BBF;
}
        
    
.link-contacts:focus { 
color: #404BBF;
}



.link-address { 
color: #434455 ;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em; 
}

.link-address:hover {
color: #404bbf;
}

.link-address:focus {
color: #404bbf;
}

.link-gmail-number {
color: #434455;
font-family: 'Roboto';
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
display: flex;
gap: 40px;
}

.link-gmail-number:hover {
    color: #404bbf;
}

.link-gmail-number:focus {
    color: #404bbf;
}


/* header */





/* section 1 */


.head{
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}


.main-title {
color: #ffffff;
background-color: #2e2f42;
font-family: 'Roboto' , sans-serif;
font-weight: Bold;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
max-width: 496px;
}
    

.button { 
color: #ffffff;
background-color: #4D5AE5;
font-family: 'Roboto' , sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}

button:hover{
background-color: #404BBF;
cursor: pointer;
}

.button:focus{
background-color: #404BBF;
}

/* section 1 */


/* section 2 */

.section{
padding-top: 120px;
padding-bottom: 120px;
}



.visually-hidden {
color: #2E2F42;
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1,11;
letter-spacing: 0.02em;
text-align: center;
}

.secondsection{
display: flex;
gap: 24px;
}

.features{
width: calc((100% - 72px) / 4);
}




.title { 
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}


.text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* section 2 */





/* section 3 */
.section {
background-color: #F4F4FD;
} 

.title-team {
color: #2e2f42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}


.ourteam {
background-color: #FFFFFF;  
}



.title-mini {
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}




.text-about {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}



/* section 3 */


/* section 4 */
.headertwo {
color: #2E2F42;
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}

.title-portfolio {
color: #2e2f42;
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.text-portfolio{
color: #434455;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* section 4 */


/* footer */
.footer {
background-color: #2e2f42;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-color-white{
color: #f4f4fd;
}

.text-footer {
color: #F4F4FD;
background: #2E2F42;
font-family: 'Roboto' , sans-serif;
font-weight: Bold;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* footer */
